.menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
}
.topmenu{
    border: 1px solid black;
    width: 1533px ;
    height: 150px;
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 150px;
    font-size: 50px;
    color: #;
    transition: 0.7s linear;
    background-image: url(images/images.jpg);
    
}
.topmenu::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: pink;
    z-index: 1;
    left:-100%;
    top: 0;
    overflow: hidden;
    transition: .7s linear;
    opacity: 60%;
}
.topmenu:hover::before{
left: 0px;
}
.topmenu:hover{
    color: #fff
}
