body{
    overflow-x: hidden;
    background-image: url(images/space.jpg);
}
/* Название сайта */
.menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
}
.topmenu{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 1533px ;
    height: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 100px;
    font-size: 74px;
    color: #292323;
    -webkit-transition: 0.7s linear;
    transition: 0.7s linear;
    background-color: blue;
}
.topmenu::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00FF39;
    z-index: 1;
    left:-100%;
    top: 0;
    overflow: hidden;
    -webkit-transition: .7s linear;
    transition: .7s linear;
    opacity:60%;
}
.topmenu:hover::before{
left:0%;
}
.topmenu:hover{
    color: black;   
}
/*Главное меню*/
.botmenu{
    display: block;
    position: absolute;
    top: 104.3px;
    width: 100%;
    height: 51px;
    left: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(grey), to(black));
    background: linear-gradient(90deg, black, grey, black);
}
.menu{
    display: block;
    position: absolute;
}
.d{
    text-decoration: none;
    color: white;
}
.botmenu ul li{
    list-style: none;
    display: inline;
    line-height: 20px;
}
#da{
    display: block;
    position: absolute;
    width: 100px;
    text-align: center;
    padding: 5px;
    top: -6px;
    border-radius: 5px;
    border: 1px solid blue;
    -webkit-transition: .35s linear;
    transition: .35s linear;
}
#da:hover{
    background: #00FF39;
}
.b{
    display: block;
    position: absolute;
    left: 1230px;  
}
.c{
    display: inline;
    position: absolute;
    left: 1350px;
    width: 251px;
}
#d{
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
    -webkit-transition: .35s linear;
    transition: .35s linear;
    transition: .35s linear;
    cursor: -webkit-grab;
    cursor: grab;
}
#d:hover{    
    background: #00FF39;
}
/* Боковое меню */
.leftmenu{
    display: block;
    position: absolute;
    top: 158px;
    left: 0;
    width: 150px;
    height: 76.9%;
    background:-webkit-gradient(linear, left top, right top, from(#FFC800), to(#5723C5));
    background:linear-gradient(90deg, #FFC800, #5723C5);
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    opacity: %;
}
